{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>readlist</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <h2>Readlist</h2>
    <nav>
      <ul>
        <li>
          <a href="{% url 'index' %}">all books</a>
        </li>
        <li>
          <a href="{% url 'books_create' %}">Add a Book</a>
        </li>
        <li>
          read
        </li>
        <li>
          <a href="{% url 'about' %}">About</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <p>Lorem ipsum dolor sit.</p>
  </footer>
</body>
</html>